TLS v1.2

Hello! 

Greate work with SuperSocket. It really helped us. 

So, we've configured SS to required TLS, which was really easy as stated here http://docs.supersocket.net/v1-6/en-US/Enable-TLS-SSL-trasnferring-layer-encryption-in-SuperSocket 

Our problem is that we need enable TLV v1.2 but SS only allows 1.0. 

Is there a way to do it? 

Thanks 
Best regards, 
Gutemberg

I'll check whether the latest dotnetfix support more SSL protocol options.

Sent from my Windows Phone
________________________________
From: Gutemberg Ribeiro<mailto:notifications@github.com>
Sent: ‎3/‎3/‎2015 15:41
To: kerryjiang/SuperSocket<mailto:SuperSocket@noreply.github.com>
Subject: [SuperSocket] TLS v1.3 (#24)

Hello!

Greate work with SuperSocket. It really helped us.

So, we've configured SS to required TLS, which was really easy as stated here http://docs.supersocket.net/v1-6/en-US/Enable-TLS-SSL-trasnferring-layer-encryption-in-SuperSocket

Our problem is that we need enable TLV v1.3 but SS only allows 1.0.

Is there a way to do it?

Thanks
Best regards,
Gutemberg

---
Reply to this email directly or view it on GitHub:
https://github.com/kerryjiang/SuperSocket/issues/24


Thanks for the reply. .Net sockets indeed support TLS v1.2. It is just a matter of set the algo enumaration into the socket code. Really non disruptive change. I really appreciate that. We was about to change to another socket framework since it is really a requirement for us in order to comply with PCI regulations.

Thank tou very much, really appreciate the help.

Gutemberg

Sent from Outlook<http://taps.io/outlookmobile>




On Tue, Mar 3, 2015 at 10:18 PM -0800, "Kerry Jiang" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'll check whether the latest dotnetfix support more SSL protocol options.

Sent from my Windows Phone
________________________________
From: Gutemberg Ribeiro<mailto:notifications@github.com>
Sent: ?3/?3/?2015 15:41
To: kerryjiang/SuperSocket<mailto:SuperSocket@noreply.github.com>
Subject: [SuperSocket] TLS v1.3 (#24)

Hello!

Greate work with SuperSocket. It really helped us.

So, we've configured SS to required TLS, which was really easy as stated here http://docs.supersocket.net/v1-6/en-US/Enable-TLS-SSL-trasnferring-layer-encryption-in-SuperSocket

Our problem is that we need enable TLV v1.3 but SS only allows 1.0.

Is there a way to do it?

Thanks
Best regards,
Gutemberg

---
Reply to this email directly or view it on GitHub:
https://github.com/kerryjiang/SuperSocket/issues/24

-
Reply to this email directly or view it on GitHub<https://github.com/kerryjiang/SuperSocket/issues/24#issuecomment-77103077>.


Did you try to set the security attribute to "Tls12"? Make sure you use the .NET 4.5 assemblies.
I think SuperSocket can support it directly. If you get an error after set it, tell me the error details.

---------------------------------------------------------------
public enum SslProtocols
    {
        // Summary:
        //     No SSL protocol is specified.
        None = 0,
        //
        // Summary:
        //     Specifies the SSL 2.0 protocol. SSL 2.0 has been superseded by the TLS protocol
        //     and is provided for backward compatibility only.
        Ssl2 = 12,
        //
        // Summary:
        //     Specifies the SSL 3.0 protocol. SSL 3.0 has been superseded by the TLS protocol
        //     and is provided for backward compatibility only.
        Ssl3 = 48,
        //
        // Summary:
        //     Specifies the TLS 1.0 security protocol. The TLS protocol is defined in IETF
        //     RFC 2246.
        Tls = 192,
        //
        // Summary:
        //     Specifies that either Secure Sockets Layer (SSL) 3.0 or Transport Layer Security
        //     (TLS) 1.0 are acceptable for secure communications
        Default = 240,
        //
        // Summary:
        //     Specifies the TLS 1.1 security protocol. The TLS protocol is defined in IETF
        //     RFC 4346.
        Tls11 = 768,
        //
        // Summary:
        //     Specifies the TLS 1.2 security protocol. The TLS protocol is defined in IETF
        //     RFC 5246.
        Tls12 = 3072,
    }

Hello, I did a fix for this issue.
Could you verify it?
https://github.com/kerryjiang/SuperSocket/commit/4c6d1a79c933856c2d1b16e598a2b5d36779980a

@kerryjiang are you planning to release a new nuget version which includes this fix?

I think an earlier release in NuGet already fixed this issue long days ago.

I'm using WebSocket4Net 0.14.1.0. When I disable TLS 1.0 on the server it throws

```
Authentication failed because the remote party has closed the transport stream.
System.IO.IOException: Authentication failed because the remote party has closed the transport stream.
   at System.Net.Security.SslState.InternalEndProcessAuthentication(LazyAsyncResult lazyResult)
   at System.Net.Security.SslState.EndProcessAuthentication(IAsyncResult result)
   at SuperSocket.ClientEngine.SslStreamTcpSession.OnAuthenticated(IAsyncResult result)
```

Did you specific the tls version in WebSocket4Net?

Nope - I cannot - I'm using the last version 0.14.1.0, which doesn't have the parameter yet, that's why I was asking if you're releasing new version.

See https://github.com/kerryjiang/WebSocket4Net/issues/40.  You'll need to use a beta version of 0.15.

Hi All,

With TLS1.2 authentication error cme what todo>
